.Card{
    background-color: white;
    width: 20vw;
    float: left;
    margin: 15px;
    height: auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 3px 3px 10px #074f43
}

.delete{
    display: inline-block;
    float: right;
    background-color: #eee;
    padding: 7px;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: 6pt;
    letter-spacing: 1px;
    color: #888;
    text-transform: uppercase;
    margin-left: 10px;
    box-shadow: 1px 1px 2px #dbdbdb;
    cursor: pointer;
}
.delete:hover{
    box-shadow: 0px 0px 2px #dbdbdb;
    margin-top: 1px;
    margin-left: 11px;
}

.Card-title{
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 20px;
}

.Card-input{
    border: 1px solid #efefef;
    padding: 7px;
    border-radius: 5px;
    margin-top: 15px;
}

.Card-button{
    display: inline-block;
    background-color: #eee;
    padding: 7px;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: 10pt;
    color: #888;
    margin-left: 10px;
    box-shadow: 1px 1px 2px #dbdbdb;
    cursor: pointer;
}

.Card-button:hover{
    box-shadow: 0px 0px 2px #dbdbdb;
    margin-top: 1px;
    margin-left: 11px;
}